receivers:

  otlp:
    protocols:
      grpc:
      http:

processors:

  memory_limiter:
    limit_mib: 512
    check_interval: 1s

  batch:

exporters:

  signalfx:
    access_token: ${SPLUNK_ACCESS_TOKEN}
    realm: ${SPLUNK_REALM}

  otlphttp:
    endpoint: https://ingest.${SPLUNK_REALM}.signalfx.com

  splunk_hec:
    token: ${SPLUNK_ACCESS_TOKEN}
    endpoint: https://ingest.${SPLUNK_REALM}.signalfx.com/v1/log
    source: strands-agent
    sourcetype: strands-agent

  logging:
    verbosity: detailed

service:

  pipelines:

    traces:
      receivers: [otlp]
      processors: [memory_limiter, batch]
      exporters: [logging, otlphttp]

    metrics:
      receivers: [otlp]
      processors: [memory_limiter, batch]
      exporters: [logging, signalfx]

    logs:
      receivers: [otlp]
      processors: [memory_limiter, batch]
      exporters: [logging, splunk_hec]
