receivers:

  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317
      http:
        endpoint: 0.0.0.0:4318


processors:

  memory_limiter:
    check_interval: 1s
    limit_mib: 512

  batch:
    timeout: 5s
    send_batch_size: 1024


exporters:

  debug:
    verbosity: detailed


service:

  telemetry:
    logs:
      level: "debug"

  pipelines:

    traces:
      receivers: [otlp]
      processors: [memory_limiter, batch]
      exporters: [debug]

    metrics:
      receivers: [otlp]
      processors: [memory_limiter, batch]
      exporters: [debug]

    logs:
      receivers: [otlp]
      processors: [memory_limiter, batch]
      exporters: [debug]
