receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317
      http:
        endpoint: 0.0.0.0:4318

exporters:
  splunk_hec:
    token: "${SPLUNK_ACCESS_TOKEN}"      # token from env
    endpoint: "https://ingest.us1.signalfx.com/v2/trace"
    source: "strands-agent"
    sourcetype: "_json"

  debug: {}  # just prints spans for testing

service:
  pipelines:
    traces:
      receivers: [otlp]
      exporters: [debug, splunk_hec]
