receivers:
  otlp:
    protocols:
      grpc:
      http:

processors:
  batch:

exporters:

  debug:
    verbosity: detailed

  otlp/splunk:
    endpoint: https://ingest.${SPLUNK_REALM}.signalfx.com:443
    headers:
      X-SF-TOKEN: ${SPLUNK_ACCESS_TOKEN}

service:
  pipelines:

    traces:
      receivers: [otlp]
      processors: [batch]
      exporters: [debug, otlp/splunk]
