extensions:
  headers_setter:
    headers:
      - action: upsert
        key: X-SF-TOKEN
        from_context: X-SF-TOKEN
        default_value: "${SPLUNK_ACCESS_TOKEN}"
        
receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317
      http:
        endpoint: 0.0.0.0:4318

exporters:
  # splunk_hec:
  #   token: "${SPLUNK_ACCESS_TOKEN}"
  #   endpoint: "https://ingest.us1.signalfx.com/v1/trace"  # change region as needed
  #   source: "strands-agent"
  #   sourcetype: "_json"

  otlp_http:
    traces_endpoint: "https://ingest.us1.signalfx.com/v2/trace/otlp"
    headers:
      "X-SF-Token": "${SPLUNK_ACCESS_TOKEN}"
    auth:
      authenticator: headers_setter

  debug: {}  # optional, replaces old logging exporter

service:
  extensions: [headers_setter]
  pipelines:
    traces:
      receivers: [otlp]
      exporters: [otlp_http, debug]
